&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	{{# hero}}
		{{&gt; molecules-block-hero-secondary }}
	{{/ hero}}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;l-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;article class=&quot;article&quot;&gt;
					&lt;header class=&quot;article-header&quot;&gt;
						&lt;h1&gt;Article Headline Lorem ipsum dolor sit aweofij&lt;/h1&gt;
						{{&gt; molecules-byline }}
					&lt;/header&gt;
					{{&gt; organisms-article-body }}
				&lt;/article&gt;&lt;!--end .article--&gt;
				{{&gt; organisms-comment-thread }}
			&lt;/div&gt;&lt;!--end l-main--&gt;

			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; organisms-related-posts }}
				{{&gt; organisms-recent-tweets }}
				{{&gt; organisms-poll }}
			&lt;/div&gt;&lt;!--end l-sidebar--&gt;
		&lt;/div&gt;&lt;!--end l-two-col--&gt;	
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-slab-posts }}
	{{&gt; organisms-footer }}
	{{&gt; molecules-social-share }}
&lt;/div&gt;